
.box {
    position: relative;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    /*background-color: red;*/
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    animation-name: animation1;
}
.front{
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color: darkslategray;
    top: 300px;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateZ(50px);
    backface-visibility: visible;
    animation-name: animation2;
}

.back {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color: chartreuse;
    top: 300px;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateZ(-50px);
    /*backface-visibility: hidden;*/

}

@keyframes animation1 {
    from{transform: rotateY(0deg)}


    to{transform: rotateY(360deg)}
}

@keyframes animation2 {
    from{transform: rotateZ(0deg)}

    to{transform: rotateZ(360deg)}
}
@keyframes animation3 {
    from{transform: rotateZ(360deg)}

    to{transform: rotateZ(0deg)}
}

.animate{
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}


.moveback {
    animation-name: animation3;

}